.gwt-TreeItem {
	white-space: normal;
} 

/* individual HZG page modifications */
#header {
    width: 80%;
    height: 110px;
    min-width: 1100px;
}
.header-contact {
    font-size: 13px !important;
    margin: 15px;
}
.header-left {
    float: left;
    margin-left: 15px;
}
.header-right {
    float: right;
}

.olControlMousePosition {
	background-color: white !important;
	padding: 2px;
	bottom: 0px !important;
	right: 0px !important;
}
